//
// Bootstrap
//==============

@import "bootstrap/bootstrap";

//
// Popup styles
//==============

body {
	min-width: 775px;
	padding: 10px;
}

nav {
	margin-bottom: 20px;
}

h1 {
	margin: 0px;
	margin-bottom: 10px;
}

.type {
	h3 {
		line-height: 48px;
		padding-left: 55px;
		border-bottom: 1px solid #ddd;
	}
}

.label {
	display: inline-block;
	margin-top: 5px;
	font-size: 100%;
}

.item {

	&:hover {
		background-color: #E7F7FD;
	}

	padding: 10px;
	display: flex;

	.details {
		padding: 0px 10px;
		flex: 1;
		font-size: 12px;

		h4 {
			margin: 0px;
			// version
			.version {
				font-size: 15px;
				color: #888;
				margin: 0px 10px;
			}
		}

		.description {
			margin: 5px 0px;
			color: #888;
		}

		.additional {
			label {
				margin-right: 5px;
			}
			span {
				margin-right: 10px;
				&.glyphicon {
					margin-right: 0px;
				}
			}
		}

	}

	.actions {
		.btn {
			display: block;
			width: 100%;
			&.btn-xs {
				padding: 2px 5px;
			}
		}
		.uninstall, .remove {
			.btn {
				margin-bottom: 3px;
			}
		}
		.remove {
			margin-top: 5px;
			p {
				font-size: 12px;
				margin-bottom: 5px;
			}
		}
	}

	.icon {
		width: 60px;
		img {
			width: 48px;
			height: 48px;
		}

		.options {
			margin-top: 10px;
			font-size: 12px;
			text-align: center;
		}
	}

	&.item-disabled {

		color: #bbb;

		.description, h4 .version {
			color: #bbb;
		}

		.checkbox {
			font-weight: normal;
			color: #000;

			&.disabled {
				color: #aaa;
			}

		}

	}

	label {
		&.disabled {
			color: #aaa;
		}
	}

}

#history {

	select {
		margin: 15px 0px;
		optgroup {
			color: #999;
			option {
				color: #555;
			}
		}
	}

	th, td {
		font-size: 12px;
	}

}

#about {

	font-size: 12px;

	.right {
		> div {
			margin-bottom: 30px;
		}
	}

	.row {
		margin-top: 20px;
	}

	h2, h3 {
		margin-top: 10px;
	}

	h3 {
		border-bottom: 1px solid #ccc;
	}

	ul {
		padding-left: 20px;
	}

	dl {
		margin-bottom: 10px;
	}

}